* {
	margin: 0;
	padding: 0;
}

body {
	text-align: center;
}

#loader {
	display: none;
	margin-top: 200px;
	background-color: white;
	text-align: center;
}

#loader img {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-left: -100px;
	margin-top: -75px;
	width: 200px;
	height: 150px;
}

#wrapper {
	text-align: left;
}

#wrapper table {
    margin: 0 auto;
}