<br/>
<div style="padding: 30px; text-align: center; margin: 0 auto;">

<H1>Maximizing Influence in a Single Step Under Uncertainty</H1>
<H2><u>Context</u></H2>
<p align="justify">Homeless youth are at high risk from HIV-AIDS (the dangerous disease) because of activities like sharing drug needles etc., which are very common among homeless youth. Thus, many social workers (and associated agencies) are planning to conduct an intervention camp for homeless youth in order to raise awareness 
about HIV among homeless youth. They want to invite the <it>"most influential"</it> homeless youth  (i.e., youth who will be able to raise awareness among as many homeless youth as possible) as attendees of their intervention camps, and then encourage these youth to
spread the message among their peers. To decide whom to invite for their interventions, they use a social network which shows all the friendships between all the homeless youth. Since our social workers are exhausted from a tough day at work, they have requested you to make this decision for them
and they can explain to you when you are making mistakes. </p>


<H2><u>Social Network Description</u></H2>
<p align="justify">The social network represents a map of friendships between different homeless youth. In this social network, each homeless youth is represented by a red dot similar to the one shown in the figure below. The letter near the dot represents the name of that particular homeless youth. For example, the name of the
homeless youth in the figure may be <b>q</b>. Moreover, each friendship in the social network is represented by a solid line that connects two dots. For example, the figure below shows a line between two dots <b>q</b> and <b>t</b>, which represents that the homeless youth corresponding to dots <b>q</b> and <b>t</b> are friends.
Moreover, each friendship in the social network has an associated strength, which is a fractional number from 0 to 1. For example, in the figure below, the friendship between <b>q</b> and <b>t</b> has a strength of 0.4.
This means that if <b>q</b> is aware about HIV and <b>t</b> is not, then with a 0.4 (i.e., 40%) chance, he will make <b>t</b> aware about HIV as well. Similarly, if <b>t</b> is aware about HIV and <b>q</b> is not, then with a 40% chance he will make <b>q</b> aware about HIV as well. 
The strength of all friendships in the network is provided to you.
</p> 

<div class="container">
<img src="images/64.png" />
</div>




<H2><u>Influence Model</u></H2>
<p align="justify">If youth <b>q</b> is invited for the intervention, then he/she will raise awareness about HIV among 
all homeless youth which are his friends in the social network. This awareness spread will occur according to the strength of the friendships between <b>q</b> and his/her friends. This means that it is possible that <b>q</b> may fail at spreading awareness among some of his friends and 
may succeed at spreading awareness among some others. For example, in the figure, if youth <b>q</b> is invited, it will try to influence its friends (i.e., <b>n</b>, <b>g</b>, <b>t</b> and <b>s</b>). Node <b>q</b> will succeed in influencing nodes <b>n</b>, <b>t</b> and <b>s</b> with 40% chance, 
and node <b>g</b> with an 80% chance. 


<H2><u>Goal</u></H2>
<p align="justify">Your first goal is to <b>select two homeless youth in the network</b>, such that the total <b>number of homeless youth</b> who get aware about HIV (according to the influence model described above) is maximized. 
<!-- Note that we consider the average number of homeless youth because spread of awareness is not a deterministic process. That is, a youth may try to spread awareness to a friend but may fail in doing so (due to the strength of his friendship not being 100%). In order to clearly explain the objective,  consider 
a simple example. Consider just the edge between nodes <b>q</b> and <b>t</b> in the figure above (and forget about the rest of the network). If you select node <b>q</b>, then with 40% chance, <b>t</b> will get aware about HIV and in this case, the value of the objective is 1+1 = 2 (since 2 nodes gets influenced). On the other hand, with a 60% chance, <b>q</b> may fail to spread awareness about HIV to <b>t</b>. In this case, the value 
of the objective is 1 (since only 1 node gets influenced). Therefore, the <b>average number of homeless youth</b> who get aware about HIV by selecting circle <b>q</b> is 0.40 * 2 + 0.60*1 = 1.4. You have to select the two nodes which maximize the average value for the network that will be shown to you.</p>-->



<H2><u>Instructions</u></H2>
<p align="justify"> During the game, you have to play on 9 different networks similar to the one shown above. The first of them is a <b>Sample Game</b> and will not be counted in determining the money that you earn while playing this game.
The rest of the game is divided into a <b>Training phase</b> and a <b>Testing phase</b>.</p>

<p>
<H3>Training Phase</H3>
The training phase consists playing on 5 different networks, one after the other. For each of these 5 network, you will be trained (via explanations) as to what makes a good solution, and what makes a bad solution. Specifically, you go through the following steps. 
<ol>
<li> You will see image of a network. Look at that network carefully, and select the 2 most influential nodes, who will spread the information most effectively. </li>
<li>Next, you will see an <b>explanation</b> of why your chosen solution is sub-optimal. Go through that explanation and give a score from 1-10, depending on how convincing you found the explanation (10 for most convincing. 1 for completely unconvincing).</li>
<li>Based on the explanation, you will modify your chosen solution on the next screen. If you are able to successfully modify your solution according to the explanation, you will earn 0.5 USD on this network.</li>
<li><b><u>Note</u></b> -If your chosen solution in Step 2 is already optimal, then the explanation that you see in Step 2 will tell you that you picked an optimal solution. In that case, do not modify your solution in Step 3, and you will earn 0.5 USD on this network. If you still modify, you will not earn 0.5 USD on this network.</li> 
</ol>
</p>

<p align="justify">
After going through these 5 networks, you will see a text box where you will input anything that you learned from the explanations. There is no correct answer. Just try to tell us anything that you learned out of the explanations.
<b> It is therefore a good idea to read and note down the explanations when they are shown to you. </b>
</p>

<p align="justify">
<H3>Testing Phase</H3>
In the testing phase, you will go through 3 networks, one by one. On each of these networks, you will have to pick 2 nodes again. This time around, you will not see any explanations for any solutions that you pick. On each of these 3 networks, you are
supposed to apply the knowledge that you learnt from the explanations that you saw, and pick nodes accordingly. On each of these three networks, you will earn 0.5 USD if you are able to successfully apply the things that you learned in the explanations from training phase. 

Next, you will see a feedback box where you can enter any feedback about the game (i.e., any difficulties that you might have faced).
</p>

<H2><u>Rewards</u></H2>
<p align="justify">You will only be paid money if you finish the entire game. You will be paid a base compensation of 1 USD for finishing the entire game. In addition, on each of the five networks for which you select nodes, you can earn a maximum of 0.5 USD (if you pick good solutions). How much you earn depends on whether you pick an optimal or sub-optimal solution.
<br/>
If you pick an optimal solution, you are told in the explanation that your solution is optimal. In that case, you will earn 0.5 USD only if you do not modify your earlier solution. 
<br/>
On the other hand, if your solution was sub-optimal (and thus, you see an explanation), you will only earn 0.5 USD if you modify your picked solution according to what you learn in the explanation.
<br/>
Next, on each of the last three networks, you can earn 0.5 USD, depending on how well you can apply knowledge gained from explanations to this task). <b>Overall, you can earn a minimum of 1 USD, and a maximum of 5 USD.</b></p>

 





	<br>
	<input type="checkbox" id="agreement" /> I have read the study instructions.<br><br>
	<input type="button" name="submit" id="submit" value="Start Sample Game" />
</div>
