<div style="padding: 30px; text-align: center; margin: 0 auto;">
	<h1 style="text-decoration: underline;">Network <span id="counterboy"></span> - Modify</h1><br/>
	Your previous selections were <span id="pnode1">pnode1</span> and <span id="pnode2">pnode2</span>. Based on the explanation, do you want to modify your selecton?<br/><br/>
	Please select 2 nodes: <select id="node1"></select> <select id="node2"></select> <input id="next" type="button" value="Next" /><br/>
	<div id="showImproveString" ></div>
	<img id="network" />
</div>