<br/>
<table>
	<tr><td>Email Address (optional):</td><td><input type="text" name="emailId" style="width: 250px;" /></td></tr>
	<tr><td>&nbsp;</td><td>&nbsp;</td></tr>
	<tr><td>Gender (optional):</td><td><input type="radio" name="gender" value="Male" /> Male</td></tr>
	<tr><td>&nbsp;</td><td><input type="radio" name="gender" value="Female" /> Female</td></tr>
	<tr><td>&nbsp;</td><td><input type="radio" name="gender" value="Other" /> Other (please specify) <input type="text" name="otherGender" /></td></tr>
	<tr><td>&nbsp;</td><td>&nbsp;</td></tr>
	<tr><td>Age:</td>
		<td>
			<select name="age">
				<option value="NA" selected="selected">Select a range of your age</option>
				<option value="20 or under">20 or under</option>
				<option value="21 - 25">21 - 25</option>
				<option value="26 - 30">26 - 30</option>
				<option value="31 - 35">31 - 35</option>
				<option value="36 - 40">36 - 40</option>
				<option value="41 or above">41 or above</option>
			</select>
		</td>
	</tr>
	<tr><td>&nbsp;</td><td>&nbsp;</td></tr>
	<tr><td>&nbsp;</td><td><input type="button" value="Submit" id="submit" /></td></tr>
</table>
