<br />
<div style="padding: 30px; text-align: center; margin: 0 auto;">
	<h1 style="text-decoration: underline;">Explanation</h1>
	<p id="displayNodes" ></p>
	<img id="network" />
	<br />
	<div id="explanation"></div>
	<br /> How convinced with the explanation are you? (1 - not convinced,
	10 - very convinced) <select id="scale">
		<option value="1">1</option>
		<option value="2">2</option>
		<option value="3">3</option>
		<option value="4">4</option>
		<option value="5">5</option>
		<option value="6">6</option>
		<option value="7">7</option>
		<option value="8">8</option>
		<option value="9">9</option>
		<option value="10">10</option>
	</select> <input type="button" id="next" value="Next"><br />
	<br />
	<div style="text-align: left;">
		<div id="expl-0" style="display: none;"></div>
		<div id="expl-1" style="display: none;">
		<h3>
			<u><b>Closeness to Other Nodes</b></u>
		</h3>
		<br> "Closeness to the Other Nodes" measures how close a given
		node is to the other nodes in a network. For a given node, first you
		need to find the shortest path to any of the other nodes in the
		network, then sum those shortest paths' lengths (Recall that the path
		length is the number of connections in the path that connects the two
		nodes.). Finally, invert the summation result. If there are nodes that
		are not reachable, meaning that no path can be found to those nodes,
		multiply the inverted sum by a factor indicated below: <br /> Factor =
		(Number of reachable nodes / (total number of nodes - 1) )<sudiv>2</sudiv>
		<br /> For example, in the network below, the distances of node "g" to
		the other nodes are: <br /> "g" to "p": distance = 1 <br /> "g" to
		"s": distance = 2 <br /> "g" to "d": distance = 3 <br /> "g" to "t":
		distance = 2 <br /> <br /> And there is no path between "g" and the
		remaining nodes. The same should be done for node "o". "Closeness to
		the Other Nodes" feature for "g" and "o" is evaluated as: <br />
		"Closeness to the Other Nodes" for node "g": [4/(20-1)]2[1/(1+2+3+2)]
		= 0.0055 <br /> "Closeness to the Other Nodes" for node "o": 0.0 <br />
		<img src="images/1-1.jpeg">
		</div>
		<div id="expl-2" style="display: none;">
		<h3>
			<u><b>Connectivity</b></u>
		</h3>
		<br> "Connectivity" measures the number of times a given node
		lies on the shortest paths connecting the other pairs of nodes in the
		network. <br /> In order to calculate this feature for a specific node
		do the following: <br /> For any pair of nodes (not including the node
		under consideration), find all the shortest paths that connects them.
		It may be the case that there are multiple shortest paths between a
		pair. Find the ratio of "the number of those shortest paths that pass
		through the node under consideration" over "all the shortest paths
		between the pair". Then, sum the value for all the pairs. <br /> For
		example, in the network below, node "g" does not lie on any of the
		shortest paths between other nodes. Whereas, node "t", lies on the
		paths connecting "r" and "q", "r" and "p", "r" and "s", "p" and "q" ,
		"q" and "s", "p" and "s". <br /> Therefore, the "Connectivity" of node
		"t" is: 6 <br /> And "Connectivity" of node "g" is: 0 <br /> <img
			src="images/2-1.jpeg">
		</div>
		<div id="expl-3" style="display: none;">
		<h3>
			<u><b>Influence</b></u>
		</h3>
		<br> It measures the number of times a given node will appear in
		a random walk in the network. <br /> A random walk means, that we
		start at a node, and sequentially pick other nodes and this way we
		travel in the network. <br /> To choose the next node, there is some
		probability, e.g., 85%, that it will be chosen from the neighbors of
		the current node. Otherwise, or when a node has no neighbors, the next
		node is chosen randomly from all nodes. <br /> The Influence is then
		measured as the number of times a specific node appears over the total
		number of nodes visited. <br />
		<br /> In order to arrive at a meaningful score for this feature, one
		has to take long random walks to see all the possibilities of nodes
		being chosen, however, it is also often seen that "Influence" changes
		with "Popularity". Meaning that, if "Popularity" increases, it is most
		likely that "Influence" will also increase. Also, a node whose
		neighbors have high "Influence" values, is also high in "Influence". <br />
		<br /> For example, in the network shown below, nodes "s" and "j" have
		"Influence" scores of 0.0452 and 0.1622, respectively. <br /> <img
			src="images/3-1.jpeg">
		</div>
		<div id="expl-4" style="display: none;">
		<h3>
			<u><b>Popularity</b></u>
		</h3>
		<br> The number of connections of a node (individual) is often
		used as a measure of its "Popularity". To illustrate, in the network
		below, node "I" has 4 connections, which is more than any other node
		in the network. Thus, it is the most popular node among all nodes.
		Node "t" has 2 connections, making it half as popular as node "I". <br />
		Popularity of node "l" = 4 <br /> Popularity of node "t" = 2 <br /> <img
			src="images/4-1.jpeg">
		</div>
		<div id="expl-5" style="display: none;">
		<h3>
			<u><b>Popularity Strength</b></u>
		</h3>
		<br> This feature is defined as the sum of the connection weights
		of a node. <br /> For example, in the network given below, node "l"
		has a "Popularity Strength" of (0.3+0.4+0.2+0.5) = 1.4. <br /> And
		node "i" has a "Popularity Strength" of (0.9). <br /> <img
			src="images/5-1.jpeg">
		</div>
		<div id="expl-6" style="display: none;">
		<h3>
			<u><b>Mutual Connections</b></u>
		</h3>
		<br> For any pair of nodes, this feature counts the number of
		nodes that are connected to both nodes in the pair. <br /> For
		example, in the network below, nodes "t" and "j" have 3 "Mutual
		Connections". <br /> <img src="images/6-1.jpeg">
		</div>
		<div id="expl-7" style="display: none;">
		<h3>
			<u><b>Density</b></u>
		</h3>
		<br> It measures how connected a node's neighborhood is. It is
		the ratio of the number of existing connections to the total number of
		possible connections in the neighborhood, where by "all the possible
		connections", we mean as if every pair of nodes in the neighborhood
		were connected. <br /> For example, in the network below, nodes "j",
		"c" and "d" and their connections form the neighborhood of "c", where
		the number of existing connections in their neighborhood is 2 and the
		total number of possible connections is 3 (one more to directly
		connect "j" and "d"). Therefore, "Density" of node "c" is 2/3 . <br />
		Also, nodes "t", "q", "r", "s", "p" form the neighborhood of "t". And
		"Density" of "t" can be evaluated as 4/10. <br /> <img
			src="images/7-1.jpeg">
		</div>
		<div id="expl-8" style="display: none;">
		<h3>
			<u><b>Risk Factor</b></u>
		</h3>
		<br> "Risk Factor" is defined as the ratio of the number of
		connections of a node over the sum of its connection weights. It is a
		measure of how reliable a node's connections are, meaning that lower
		connection weights are associated with higher risk level. <br /> For
		example, in the network below, node "a" has a "Risk Factor" of :
		6/(0.4+0.1+0.4+0.4+0.2+0.4) = 3.16 <br /> <img src="images/8-1.jpeg">
		</div>
		<div id="expl-9" style="display: none;">
		<h3>
			<u><b>Popularity</b></u>
		</h3>
		<br> The number of connections of a node (individual) is often
		used as a measure of its "Popularity". To illustrate, in the network
		below, node "I" has 4 connections, which is more than any other node
		in the network. Thus, it is the most popular node among all nodes.
		Node "t" has 2 connections, making it half as popular as node "I". <br />
		Popularity of node "l" = 4 <br /> Popularity of node "t" = 2 <br /> In
		this case, if the chosen solution is nodes "l" and "t", then the
		maximum popularity is 4 (from node "l"). <br /> <img
			src="images/4-1.jpeg">
		</div>
		<div id="expl-10" style="display: none;">
		<h3>
			<u><b>Popularity</b></u>
		</h3>
		<br> The number of connections of a node (individual) is often
		used as a measure of its "Popularity". To illustrate, in the network
		below, node "I" has 4 connections, which is more than any other node
		in the network. Thus, it is the most popular node among all nodes.
		Node "t" has 2 connections, making it half as popular as node "I". <br />
		Popularity of node "l" = 4 <br /> Popularity of node "t" = 2 <br /> In
		this case, if the chosen solution is nodes "l" and "t", then the
		minimum popularity is 4 (from node "t"). <br /> <img
			src="images/4-1.jpeg">
		</div>
		<div id="expl-11" style="display: none;">
		<h3>
			<u><b>Popularity</b></u>
		</h3>
		<br> The number of connections of a node (individual) is often
		used as a measure of its "Popularity". To illustrate, in the network
		below, node "I" has 4 connections, which is more than any other node
		in the network. Thus, it is the most popular node among all nodes.
		Node "t" has 2 connections, making it half as popular as node "I". <br />
		Popularity of node "l" = 4 <br /> Popularity of node "t" = 2 <br /> In
		this case, if the chosen solution is nodes "l" and "t", then the
		variance in popularity is Maximum/Minimum = 4/2 = 2. <br /> <img
			src="images/4-1.jpeg">
		</div>
		<div id="expl-12" style="display: none;">
		<h3>
			<u><b>Density</b></u>
		</h3>
		<br> It measures how connected a node's neighborhood is. It is
		the ratio of the number of existing connections to the total number of
		possible connections in the neighborhood, where by "all the possible
		connections", we mean as if every pair of nodes in the neighborhood
		were connected. <br /> For example, in the network below, nodes "j",
		"c" and "d" and their connections form the neighborhood of "c", where
		the number of existing connections in their neighborhood is 2 and the
		total number of possible connections is 3 (one more to directly
		connect "j" and "d"). Therefore, "Density" of node "c" is 2/3 . <br />
		Also, nodes "t", "q", "r", "s", "p" form the neighborhood of "t". And
		"Density" of "t" can be evaluated as 4/10. <br /> In this case, if the
		chosen solution is nodes "c" and "t", then the maximum density is 2/3
		(from node "c"). <br /> <img src="images/7-1.jpeg">
		</div>
		<div id="expl-13" style="display: none;">
		<h3>
			<u><b>Density</b></u>
		</h3>
		<br> It measures how connected a node's neighborhood is. It is
		the ratio of the number of existing connections to the total number of
		possible connections in the neighborhood, where by "all the possible
		connections", we mean as if every pair of nodes in the neighborhood
		were connected. <br /> For example, in the network below, nodes "j",
		"c" and "d" and their connections form the neighborhood of "c", where
		the number of existing connections in their neighborhood is 2 and the
		total number of possible connections is 3 (one more to directly
		connect "j" and "d"). Therefore, "Density" of node "c" is 2/3 . <br />
		Also, nodes "t", "q", "r", "s", "p" form the neighborhood of "t". And
		"Density" of "t" can be evaluated as 4/10. <br /> In this case, if the
		chosen solution is nodes "c" and "t", then the minimum density is 4/10
		(from node "t"). <br /> <img src="images/7-1.jpeg">
		</div>
		<div id="expl-14" style="display: none;">
		<h3>
			<u><b>Risk Factor</b></u>
		</h3>
		<br> "Risk Factor" is defined as the ratio of the number of
		connections of a node over the sum of its connection weights. It is a
		measure of how reliable a node's connections are, meaning that lower
		connection weights are associated with higher risk level. <br /> For
		example, in the network below, node "a" has a "Risk Factor" of :
		6/(0.4+0.1+0.4+0.4+0.2+0.4) = 3.16 <br /> node "t" has a "Risk Factor"
		of : 4/(0.1+0.1+0.1+0.1) = 10 <br /> In this case, if the chosen
		solution is nodes "a" and "t", then the maximum risk factor is 10
		(from node "t"). <br /> <img src="images/8-1.jpeg">
		</div>
		<div id="expl-15" style="display: none;">
		<h3>
			<u><b>Risk Factor</b></u>
		</h3>
		<br> "Risk Factor" is defined as the ratio of the number of
		connections of a node over the sum of its connection weights. It is a
		measure of how reliable a node's connections are, meaning that lower
		connection weights are associated with higher risk level. <br /> For
		example, in the network below, node "a" has a "Risk Factor" of :
		6/(0.4+0.1+0.4+0.4+0.2+0.4) = 3.16 <br /> node "t" has a "Risk Factor"
		of : 4/(0.1+0.1+0.1+0.1) = 10 <br /> In this case, if the chosen
		solution is nodes "a" and "t", then the minimum risk factor is 3.16
		(from node "a"). <br /> <img src="images/8-1.jpeg">
		</div>
		<div id="expl-16" style="display: none;">
		<h3>
			<u><b>Risk Factor</b></u>
		</h3>
		<br> "Risk Factor" is defined as the ratio of the number of
		connections of a node over the sum of its connection weights. It is a
		measure of how reliable a node's connections are, meaning that lower
		connection weights are associated with higher risk level. <br /> For
		example, in the network below, node "a" has a "Risk Factor" of :
		6/(0.4+0.1+0.4+0.4+0.2+0.4) = 3.16 <br /> node "t" has a "Risk Factor"
		of : 4/(0.1+0.1+0.1+0.1) = 10 <br /> In this case, if the chosen
		solution is nodes "a" and "t", then the variance in risk factor is
		10/3.16 = 3/16. <br /> <img src="images/8-1.jpeg">
		</div>
		<div id="expl-17" style="display: none;">
		<h3>
			<u><b>Popularity Strength</b></u>
		</h3>
		<br> This feature is defined as the sum of the connection weights
		of a node. <br /> For example, in the network given below, node "l"
		has a "Popularity Strength" of (0.3+0.4+0.2+0.5) = 1.4. <br /> And
		node "i" has a "Popularity Strength" of (0.9). <br /> In this case, if
		the chosen solution is nodes "l" and "i", then the maximum popularity
		strength is 1.4 (from node "l"). <br /> <img src="images/5-1.jpeg">
		</div>
		<div id="expl-18" style="display: none;">
		<h3>
			<u><b>Popularity Strength</b></u>
		</h3>
		<br> This feature is defined as the sum of the connection weights
		of a node. <br /> For example, in the network given below, node "l"
		has a "Popularity Strength" of (0.3+0.4+0.2+0.5) = 1.4. <br /> And
		node "i" has a "Popularity Strength" of (0.9). <br /> In this case, if
		the chosen solution is nodes "l" and "i", then the minimum popularity
		strength is 0.9 (from node "i"). <br /> <img src="images/5-1.jpeg">
		</div>
		<div id="expl-19" style="display: none;">
		<h3>
			<u><b>Popularity Strength</b></u>
		</h3>
		<br> This feature is defined as the sum of the connection weights
		of a node. <br /> For example, in the network given below, node "l"
		has a "Popularity Strength" of (0.3+0.4+0.2+0.5) = 1.4. <br /> And
		node "i" has a "Popularity Strength" of (0.9). <br /> In this case, if
		the chosen solution is nodes "l" and "i", then the variance in
		popularity strength is 1.4/0.9 = 1.55. <br /> <img
			src="images/5-1.jpeg">
		</div>
		<div id="expl-20" style="display: none;">
		<h3>
			<u><b>Cluster Value</b></u>
		</h3>
		<br> The cluster value of a solution is 1 if both nodes in the
		solution lie in the same cluster (or community) in the network. <br />
		For example, in the network given below, the red lines denote the
		three communities in the given network. <br /> In this case, if the
		chosen solution is nodes "a" and "o", they lie in different clusters,
		and therefore the cluster value is 0. <br /> On the other hand, if the
		chosen solution is nodes "a" and "g", then the cluster value is 1
		(since both "a" and "g" lie in the same cluster). <br /> <img
			src="images/20-1.jpeg">
		</div>
	</div>
</div>
