<div style="padding: 30px; text-align: center; margin: 0 auto;">
	<h1 style="text-decoration: underline;">Network <span id="counterboy"></span></h1><br/>
	Please select 2 nodes: <select id="node1"></select> <select id="node2"></select> <input id="next" type="button" value="Next" /><br/>
	<img id="network" />
</div>