<br/>
<div style="padding: 30px; text-align: center; margin: 0 auto;">
	<h1 style="text-decoration: underline;">Summary</h1><br/>
	Please summarize your observations below.<br/>
	<textarea id="summary" rows="10" cols="70"></textarea><br/>
	<input type="button" value="Next" id="next" />
</div>
