<br />
<div style="padding: 30px; text-align: center; margin: 0 auto;">
	<h1>Thank You!</h1><br/>
	<p>
		Your Amazon Mechanical Turk code is <span id="code"
			style="color: #2ecc71; font-weight: bold; font-size: 16pt; background-color: #ecf0f1; padding: 4px;">code</span>
	</p>
</div>
